html,body{
    padding: 0;
    margin:0;    
}
*{
    font-family: sans-serif;
}
@font-face{
    font-family:ROBO;
    src:url('MR ROBOT.ttf');
}
form h1{
    font-family: ROBO;
}
form{
    margin: auto;
    padding: 30px 20px 20px 20px;
    
    width: 350px;
    background-color: #2c3e50;
    text-align: center;
}
form input{
    padding: 20px;
    font-size: 20px;
    outline: none;
}
form input[type='text'],form input[type='password']{
    background-color: #34495e;
    outline: none;
    color:white;
}
form input[type='submit']{
    color: white;
    border: none;
    background-color: #577a9d;
}
.topics{
    background-color: aquamarine;
    
}
#r{
    font-size: 20px;
    text-align: center;
    font-family: ROBO;
}
#ss{
    font-family: ROBO;
}
#o{
    text-align: center;
    font-family: ROBO;
}
.shapka{
    
    width: auto;
    height: 75px;
    background-color: whitesmoke;
    border-color: brown;
}
#srs{
    font-family: ROBO;
    color:brown;
    font-size: 50px;
    text-align: center;
}
#lal{
    text-emphasis-position: below;
}